<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="favicon.ico?v=1.1">
    <title>פותחים יד</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); -%>	
</head>

<body class="container">
    <%- include('partials/header'); -%>  
    <div name="innerDiv">
        
    </div>

    <div>
        <%- include('partials/footer'); -%>
    </div>

</body>
</html>
